*{
    padding: 2;
    margin: 2; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color:black; 
  }
  html, body{
    height: 100%;
    user-select: none;
  }
  
  h1{
   font-size:2em;
   text-align:center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: lightyellow;
   padding:20px;
  }
  
  #container{
   text-align: center;
    height:1500px;
    background: orange;
  }

  #img-Body {
    display:flex;
    max-width: 960px;
    margin:auto;
    padding: 30px;
    background: grey;
    justify-content: space-around;
  }
  
  footer{
    background: lightgreen;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  